<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<%- messages() %>

<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>


<div class="account-container">
        <form id="updateForm" action="/inv/update" method="POST">
            <div class="input-group">
                <label for="classification_id">Choose a classification:</label>
                <%- classificationSelect %>
            </div>
            <div class="input-group">
                <label for="inv_make">Make:</label>
                <input type="text" id="invMake" name="inv_make" required value="<%= locals.inv_make %>">
            </div>
            <div class="input-group">
                <label for="inv_model">Vehicle Model:</label>
                <input type="text" id="invModel" name="inv_model" required value="<%= locals.inv_model %>">
            </div>
            <div class="input-group">
                <label for="inv_year">Year of Manufacture:</label>
                <input type="text" id="invYear" name="inv_year" minlength="4" maxlength="4" pattern="[0-9]+" value="<%= locals.inv_year %>">
            </div>
            <div class="input-group">
                <label for="inv_description">Description:</label>
                <input type="text" id="invDescription" name="inv_description" required value="<%= locals.inv_description %>">
            </div>
            <div class="input-group">
                <label for="inv_image">Image Path:</label>
                <input type="text" id="invImage" name="inv_image" required value="<%= locals.inv_image %>">
            </div>
            <div class="input-group">
                <label for="inv_thumbnail">Thumbnail Path:</label>
                <input type="text" id="invThumbnail" name="inv_thumbnail" required value="<%= locals.inv_thumbnail %>">
            </div>
            <div class="input-group">
                <label for="inv_price">Price:</label>
                <input type="number" id="invPrice" name="inv_price" required value="<%= locals.inv_price %>">
            </div>
            <div class="input-group">
                <label for="inv_miles">Mileage:</label>
                <input type="number" id="invMiles" name="inv_miles" required value="<%= locals.inv_miles %>">
            </div>
            <div class="input-group">
                <label for="inv_color">Color:</label>
                <input type="text" id="invColor" name="inv_color" required value="<%= locals.inv_color %>">
            </div>          
            <button type="submit" disabled>Update Vehicle</button>
            <input type="hidden" name="inv_id"
            <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
            <% } %>>
        </form>
</div>

<script src="../../js/inv-update.js"></script>

